@import "app/styles/config"

#game-view
	height 320px
	width 480px
	background-color white
	-webkit-background-size contain
	background-position 0 0
	background-repeat repeat-x
	background-image url(path ingame/ingame_background@2x.jpg)
	-webkit-backface-visibility hidden

	.topbar-wrapper
		padding-top 3px

		.topbar
			height 44px
			position relative

			.back, .button-next-item
				height 41px
				width 77px
				-webkit-background-size contain
				background-position 0 0
				background-repeat no-repeat
				margin-top 2px

				a
					display block
					height 41px
					width 77px
					font-size 13px
					text-align center
					line-height 41px
					text-shadow 2px 2px 2px rgba(0, 0, 0, .75)
					color rgb(255, 255, 255)

					&:active, &.disabled
						color rgb(255, 255, 25)
						opacity .3


			.back
				float left
				background-image url(path ingame/ingame_btnback@2x.png)
				margin-left 3px

			.button-next-item
				float right
				background-image url(path ingame/ingame_btnnext@2x.png)
				margin-right 3px

			.toolbar-center
				margin-left 3px
				float left
				height 41px
				width 312px
				-webkit-background-size contain
				background-position 0 0
				background-repeat no-repeat
				background-image url(path ingame/ingame_options@2x.png)
				margin-top 2px

				.score
					float left
					margin-top 11px
					margin-left 20px

					.score-text
						float left
						height 18px
						width 54px
						font-size 10px
						text-shadow 2px 2px 2px rgba(0, 0, 0, .75)
						color rgb(255, 255, 255)

					.score-value
						width 65px
						float left

						div
							margin auto
							height 18px
							width 10px
							font-size 10px
							text-shadow 2px 2px 2px rgba(0, 0, 0, .75)
							color rgb(254, 248, 177)

				.timer
					float left
					height 47px
					width 62px
					-webkit-background-size contain
					background-position 0 0
					background-repeat no-repeat
					background-image url(path ingame/ingame_time@2x.png)

				.timer
					div
						font-size 14px
						text-shadow 2px 2px 2px rgba(0, 0, 0, .75)
						color rgb(234, 112, 177)


				.differences-status
					float left
					height 23px
					margin-top 9px

					ul
						list-style none
						li
							float left
							height 23px
							width 23px
							-webkit-background-size 100% 200%
							background-position 0 0
							background-repeat no-repeat
							background-image url(path ingame/ingame_lug@2x.png)
							margin-right -4px
							display none

							&.found
								background-position 0 -23px

	.item-wrapper
		position relative
		height 272px

	.item-loading
		position absolute
		top 0
		left 0
		width 100%
		height 272px
		z-index 10
		-webkit-background-size 70px
		background-position 50% 50%
		background-repeat no-repeat
		background-image url(path ingame/image_spinner.gif)
		text-indent -5000px

		&.android
			height auto
			background none
			text-indent 0
			font-size 200px
			color #EC72E4
			font-weigth bold
			line-height 200px

			div
				width 170px
				text-align left
				margin auto

	.item
		position absolute
		top 0
		left 0
		width 100%
		height 272px
		z-index 9

		.first-image, .second-image
			width 237px
			height 272px
			float left
			position relative
			-webkit-background-size contain
			background-position 50% 50%
			background-repeat no-repeat
			background-color transparent
			overflow hidden
			-webkit-backface-visibility hidden

			.difference, .error
				position absolute
				background-position 0 0
				background-repeat no-repeat
				background-color transparent
				-webkit-background-size contain

			.difference
				background-image url(path ingame/ingame_circle01@2x.png)
				opacity 0

			.error
				background-image url(path ingame/ingame_spot_fail@2x.png)

		.first-image
			margin-left 2px
			margin-right 2px
0