@import "app/styles/config"

#game-view
	height 100%
	width 100%
	background-color white
	-webkit-background-size contain
	background-position 0 0
	background-repeat repeat-x
	background-image url(path ingame/ingame_background@2x.jpg)
	-webkit-backface-visibility hidden

	.topbar-wrapper
		.topbar
			.button-next-item, .button-clues
				float right
				background-image url(path ingame/topbar_btnnext@2x.png)
				margin-right 3px

				.wrapper
					padding-left 10px
					padding-right 13px

			.toolbar-center
				margin-left 3px
				float left
				height 41px
				width 312px
				-webkit-background-size contain
				background-position 0 0
				background-repeat no-repeat
				background-image url(path ingame/topbar_background@2x.png)
				margin-top 2px
				line-height 34px

				.score
					float left
					margin-left 20px
					width 119px
					height 18px

					.score-text
						float left
						height 18px
						width 54px
						font-size 10px
						text-shadow 2px 2px 2px rgba(0, 0, 0, .75)
						color rgb(255, 255, 255)

					.score-value
						width 65px
						float left

						div
							margin auto
							width 100%
							text-align center
							font-size 10px
							text-shadow 2px 2px 2px rgba(0, 0, 0, .75)
							color rgb(254, 248, 177)

				.timer
					float left
					height 47px
					width 62px
					-webkit-background-size contain
					background-position 0 0
					background-repeat no-repeat
					background-image url(path ingame/topbar_timer_background@2x.png)

					.timer-value
						padding-left 4px
						font-size 16px
						font-weight bold
						line-height 38px
						text-shadow 2px 2px 2px rgba(0, 0, 0, .75)
						color rgb(234, 112, 177)


				.differences-status
					float left
					height 23px
					margin-top 7px

					ul
						list-style none
						li
							float left
							height 23px
							width 23px
							-webkit-background-size 100% 300%
							background-position 0 -23px
							background-repeat no-repeat
							background-image url(path ingame/topbar_indicators@2x.png)
							margin-right -4px
							opacity 0

							&.found
								background-position 0 -46px

							&.clued
								background-position 0 0

	.item-wrapper
		position relative
		height 272px

	.item-loading
		position absolute
		top 0
		left 0
		width 100%
		height 272px
		z-index 10
		-webkit-background-size 70px
		background-position 50% 50%
		background-repeat no-repeat
		background-image url(path ingame/item_spinner.gif)
		text-indent -5000px

		&.android
			height auto
			background none
			text-indent 0
			font-size 200px
			color #EC72E4
			font-weigth bold
			line-height 200px
			z-index 99

			div
				width 170px
				text-align left
				margin auto
				font-family times

				.points
					span
						opacity 0

	.item
		position absolute
		top 0
		left 0
		width 100%
		height 272px
		z-index 9

		.first-image, .second-image
			width 237px
			height 272px
			float left
			position relative
			overflow hidden
			-webkit-backface-visibility hidden

			.img, .img img, .founds, .errors, .clues
				position absolute
				width 100%
				height 100%

			.img
				img
					top 0
					left 0

			.founds div, .errors div, .clues div
				position absolute
				background-position 0 0
				background-repeat no-repeat
				background-color transparent
				-webkit-background-size contain

			.founds div
				background-image url(path ingame/item_indicator_found@2x.png)
				opacity 0

			.errors div
				background-image url(path ingame/item_indicator_error@2x.png)

			.clues div
				background-image url(path ingame/item_indicator_clue@2x.png)

		.first-image
			margin-left 2px
			margin-right 2px