@import "app/styles/config"

#home-view
	position relative
	height 320px
	width 480px
	background-color white
	background-image url(path home/home_background@2x.jpg)
	background-position 0 0
	background-repeat no-repeat
	-webkit-background-size contain
	-webkit-backface-visibility hidden

	.header
		position absolute
		top 0
		left 0
		width 100%
		height 43px

		.button-credit
			margin auto
			height 43px
			width 253px
			-webkit-background-size contain
			background-position 0 0
			background-repeat no-repeat
			background-image url(path home/home_btncredit@2x.png)

	.wrapper-title
		position absolute
		top 37px
		left 0
		width 100%
		height 49px

	.title
		margin auto
		height 49px
		width 405px
		-webkit-background-size contain
		background-position 0 0
		background-repeat no-repeat
		background-image url(path home/home_title@2x.png)

	.button-play
		position absolute
		top 130px
		right 50px
		height 58px
		width 136px
		-webkit-background-size contain
		background-position 0 0
		background-repeat no-repeat
		background-image url(path home/home_btnplay@2x.png)

		&.active
			top 140px
			right 60px

		a
			display block
			height 58px
			width 136px
			text-decoration none
			font-size 23px
			text-align center
			line-height 58px
			text-shadow 2px 2px 2px rgba(0, 0, 0, .75)
			color rgb(255, 255, 255)

			&:active, &.active
				color rgb(255, 255, 25)
				opacity .3
