#home-view
	.button-play
		position absolute
		bottom 0
		right 0
		padding 0 10px
		line-height 20px
		background #000
		float left

		a
			display block
			line-height 25px
			text-decoration none
			color #fff

	.fastclick
		width 400px
		height 200px
		background red
		position relative

	.fastclick div
		width 10px
		height 10px
		background black
		position absolute
		top -10px
		left -10px