body {
	font-size:12px;
	-webkit-user-select:none;
	-webkit-text-size-adjust:none;
	font-family: "Helvetica Neue"
}

*
	font-family: "Helvetica Neue"
	-webkit-touch-callout:none
	-webkit-text-size-adjust:none
	-webkit-tap-highlight-color:rgba(0,0,0,0)
	-webkit-user-select:none