@import "app/styles/base/config"

#home-view
	position relative
	background-color white
	background-image url(path home/home_background@2x.jpg)
	background-position 0 0
	background-repeat no-repeat
	-webkit-background-size contain
	-webkit-backface-visibility hidden

	.header
		position absolute
		top 0
		left 0

		.button-credit
			margin auto
			-webkit-background-size cover
			background-position 0 0
			background-repeat no-repeat
			background-image url(path home/home_btncredit@2x.png)

	.wrapper-title
		position absolute
		left 0

		.title
			margin auto
			-webkit-background-size cover
			background-position 0 0
			background-repeat no-repeat
			background-image url(path home/home_title@2x.png)

	.button-play
		position absolute
		-webkit-background-size cover
		background-position 0 0
		background-repeat no-repeat
		background-image url(path home/home_btnplay@2x.png)

		a
			text-align center
			color rgb(255, 255, 255)

			&:active, &.active
				color rgb(255, 255, 25)
				opacity .3
