html, body
	background transparent

body
	-webkit-user-select none
	-webkit-text-size-adjust none
	font-family "Anime Ace", verdana, helvetica, sans-serif
	margin auto

	#home-view, #game-view, #options-view
		background-color white

a
	text-decoration none

*
	-webkit-touch-callout:none
	-webkit-text-size-adjust:none
	-webkit-tap-highlight-color:rgba(0,0,0,0)
	-webkit-user-select:none