#home-view
	.header
		height 13%
		width 100%

		.button-credit
			width 53%
			height 100%

	.wrapper-title
		top 12%
		height 15%
		width 100%

		.title
			width 84%
			height 100%

	.button-play
		top 41%
		right 10%
		height 18%
		width 28%

		a
			height 100%
			width 100%
			font-size 0.8em
			text-shadow .08em .08em .08em rgba(0, 0, 0, .75)
