html, body
	width 100%
	height 100%

	#home-view, #game-view, #options-view
		margin auto
		width 100%
		height 100%

.vcenterw
	display: -webkit-box
	-webkit-box-pack: center
	-webkit-box-align: center

.vcenter
	-webkit-box-flex: 1x