#options-view
	.topbar-wrapper
		height 15%
		.topbar
			height 100%
			width 100%

			.button
				height 87%
				width 16%
				a
					font-size 11px
					line-height 90%
					text-shadow 2px 2px 2px rgba(0, 0, 0, .75)

			.back
				margin-left 3px

				.wrapper
					padding-right 13%
					padding-left 17%
