.popup
	.background
		width 400px
		max-height 280px

		.padding
			padding 10px

			.header
				.padding
					padding 10px
					height 20px

					.title
						font-size 16px

					.close
						width 20px
						height 20px

			.content
				.padding
					padding 10px
					font-size 10px
					max-height 130px

			.footer
				height 20px

				.center
					.button
						width 150px
						margin 0 10px
						height 20px